
li.nav-item {
  font-family: 'Montserrat', sans-serif;
  border-left: 1px solid grey;
}
li.nav-item:last-child {
  border-right: 1px solid grey;
 }

h1, h2  {
  font-family: monospace;
  text-align: center;
}

hr.hr1 {
  margin: auto;
  width: 2rem;
  text-align: center;
  height: 0.3rem;
}

hr.hr2 {
  margin: auto;
  width: 20rem;
  height: 0.1rem;
}

.custom-bg {
  background: rgb(223,223,223);
background: linear-gradient(90deg, rgba(223,223,223,0.994817910074186) 0%, rgba(237,237,237,1) 100%, rgba(0,212,255,1) 100%);
}
